@model Gamebase.Web.ViewModels.Home.HomePageViewModel
@using static Gamebase.Common.Constants
@{ ViewData["Title"] = "Home - Gamebase"; }

<!-- Hero section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/img/slider-1.jpg">
            <div class="hs-text">
                <div class="container">
                    @if (this.TempData.ContainsKey("Message"))
                    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @this.TempData["Message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>}
                    <h2><span>Gamebase</span></h2>
                    <p class="col-xl-9 content" style="font-size:large">The best place to find your new favorite game! We have a big database with all the information you may need, including summaries, storylines, characters, developers, game engines, platforms, genres and many more. We look forward to you joining us and contributing to our database uwu</p>
                    <a asp-controller="Users" asp-action="Register" class="site-btn" style="font-size:large">Sign up now!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->
<!-- Feature section -->
<section class="feature-section spad">
    <div class="container">
        <div class="row">
            @foreach (var randomGame in @Model.RandomGames)
            {
<div class="col-lg-3 col-md-6 p-0">
    <a asp-controller="Games" asp-action="Details" asp-route-id="@randomGame.Id">
        @if (!randomGame.IsFromUser)
        {
            <div class="feature-item set-bg" data-setbg="@BaseUrl@CoverBig/@randomGame.Cover">
                <span class="cata new">@randomGame.MainGenreName</span>
                <div class="fi-content text-white">
                    <h5>@randomGame.Name</h5>
                    <p>@randomGame.ShortSummary</p>
                </div>
            </div>
        }
        else
        {
    <div class="feature-item set-bg" data-setbg="@UserImageUrl/@randomGame.Cover">
        <span class="cata new">@randomGame.MainGenreName</span>
        <div class="fi-content text-white">
            <h5>@randomGame.Name</h5>
            <p>@randomGame.ShortSummary</p>
        </div>
    </div>
        }
    </a>
</div>}
        </div>
    </div>
</section>
<!-- Feature section end -->
<!-- Recent game section  -->
<section class="recent-game-section spad set-bg" data-setbg="/img/recent-game-bg.png">
    <div class="container">
        <div class="section-title">
            <div class="cata new">new</div>
            <h2>Recent Games</h2>
        </div>
        <div class="row">
            @foreach (var recentGame in @Model.RecentGames)
            {
<div class="col-lg-4 col-md-6">
    <a asp-controller="Games" asp-action="Details" asp-route-id="@recentGame.Id">
        <div class="recent-game-item">
            @if (!recentGame.IsFromUser)
            {
        <div class="rgi-thumb set-bg" data-setbg="@BaseUrl@ScreenshotMed/@recentGame.Cover">
            <div class="cata new">@recentGame.MainGenreName</div>
        </div>
                            <div class="rgi-content">
                                <h5>@recentGame.Name</h5>
                                <p>@recentGame.ShortSummary</p>
                            </div> }
                                            else
                                            {
                            <div class="rgi-thumb set-bg" data-setbg="@UserImageUrl@recentGame.Cover">
                                <div class="cata new">@recentGame.MainGenreName</div>
                            </div>
                                                <div class="rgi-content">
                                                    <h5>@recentGame.Name</h5>
                                                    <p>@recentGame.ShortSummary</p>
                                                </div>}

        </div>
    </a>
</div>            }

        </div>
    </div>
</section>
<!-- Recent game section end -->