@model Gamebase.Web.ViewModels.Users.UserAccountViewModel
@using static Gamebase.Common.Constants
@{
    this.ViewData["Title"] = "Account";
}

<h1 style="margin: 10px">Hello, @Model.Username</h1>
@if (@Model.GamesByUser != null)
{
    <h2 style="margin:25px">These are your games: </h2>
    <section class="container">
        <div class="card-group">
            @for (int i = 0; i < @Model.GamesByUser.Count; i++)
            {
                <div class="card">
                    @if (@Model.GamesByUser[i].Cover != null)
                    {
                        <img class="card-img-top" src="@UserImageUrl@Model.GamesByUser[i].Cover" alt="Card image cap">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Model.GamesByUser[i].Name</h5>
                        <p class="card-text">@Model.GamesByUser[i].Summary</p>
                        <a asp-controller="Games" asp-action="Details" asp-route-id="@Model.GamesByUser[i].Id" class="btn btn-primary">View</a>
                        <a asp-controller="Games" asp-action="Delete" asp-route-id="@Model.GamesByUser[i].Id" class="btn btn-danger">Delete game</a>
                    </div>
                </div>
            }

        </div>
    </section>

}
